.header-ul li{
  display: inline-block;
  padding: 10px;
}
.header-ul{
  background-color: rgb(1, 30, 20);
  padding: 5px;
  margin: 0;
}

.header-ul li a{
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.parentz{
  margin: 0 auto;
  width: 50%;
  padding: 10px;
}

.parentz .signelm{
  width: 70%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
}

.parentz .slcttag{
  width: 73%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
}

.parentz .actbtn{
  width: 30%;
  cursor: pointer;
  background-color: rgb(1, 246, 164);
  margin-bottom: 10%;
}

/* auto scroll html page */
html {
  scroll-behavior: smooth;
}

/* Footer should be at bottom of all html pages */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(1, 30, 20);
  color: white;
  text-align: center;
}

.error-inp{
  color: crimson;
  font-size: 12px;
  margin-top: 1px;
  margin-left: 11px;
}

.menu-right{
  text-align: right;
}

.dash_logoz{
  width: 40px;
  float: left;
  margin-top: 5px;
  margin-left: 22px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
